@import './default';
@import './top';
body{
    background:#f4f4f4;
}
.search{
    height:140px;
    border-bottom:1px solid #ddd;
    background:white;
    position: relative;
    overflow: hidden;
    display:flex;
    .logo{
        width:190px;
        height:110px;
        cursor: pointer;
        transition:.5s;
        margin-top:10px;
        overflow: hidden;
    }
    .gif{
        width:200px;
        height:200px;
        display:none;
    }
}
