@import './default.scss';
$fontColor:#777;
header{
    box-shadow: 0 3px 5px #eee;
    .layout {
        width: 1210px;
        background: white;
        margin: 0 auto;
        overflow: hidden;

        .welcome {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 60px;

            img {
                width: 170px;
                height: 60px;
                display: block;
                float: left;
                cursor: pointer;
            }

            h2 {
                margin-left: 20px;
                padding-top: 10px;
                font-weight: normal;
                float: left;
            }

            .questionnaire {
                font-size: 14px;
                padding-top: 40px;
                color: $fontColor;
                font-size:16px;
                a{
                    color:#e22;
                    &:hover{
                        color:#c81623;
                        text-decoration:underline;
                    }
                }
            }
        }
    }
}
.input{
    width:100%;
    height:52px;
}
main{
    width:1210px;
    margin:0 auto;
    position: relative;
    @import './bar';
    .users{
        width:398px;
        margin:50px auto 0;
        &>div{
            width:100%;
            height:52px;
            border:1px solid #777;
            label{
                width:87px;
                height:100%;
                padding-left:20px;
                text-align:center;
                line-height:50px;
                color:$fontColor;
            }
            input{
                border:none;
                outline:none;
                width:283px;
                padding-left:10px;
                height:50px;
                &::-webkit-input-placeholder{
                    color:#aaa;
                }
                &::-moz-placeholder{
                    color:#aaa;
                }
                &:-ms-input-placeholder{
                    color:#aaa;
                }
            }
        }
        .tips{
            margin:5px 0;
            font-size:14px;
            color:#aaa;
            visibility: hidden;
        }
        .submit{
            border:none;
            outline:none;
            background:#e2231a;
            margin-top:30px;
            width:100%;
            height:52px;
            font-size:18px;
            color:white;
            cursor:pointer;
            &:hover{
                background:#c81623;
            }
        }
    }
}
footer{
    width:1200px;
    margin:100px auto 0;
    height:100px;
    border-top:1px solid #ddd;
    text-align:center;
    line-height:100px;
}